# Git
.git
.gitignore

# Node
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Build
dist
build

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.production

# Docker
Dockerfile
Dockerfile.production
.dockerignore

# Temp
*.tmp
*.log
